th{
	color:darkgreen;
	background-color:white;
		text-align: center;
}
td{
		text-align: center;
}
.sistemas{
	background-color: skyblue;
}
.aplicaciones{
	background-color: #11C199;
}
.seguridad{
	background-color: red;
}
.redes{
	background-color: lightyellow;
}
.ingles{
	background-color: purple;
}
.ipe2{
	background-color: orangered;
}
.proyecto{
	background-color: grey;
}
.optativa{
	background-color: blue;
}